<!-- include partials -->
<% include partials/header %>

<h1>My Friends:</h1>

<!-- Show all friends -->
<% friends.forEach(friend => { %>
  <li>
    <%= friend %>
  </li>
<% }) %>

<form action="/addFriend" method="POST">
  <input type="text" name="friend" placeholder="John Doe">
  <button type="submit">Add Friend</button>
</form>

<% include partials/footer %>