<!-- include partials -->
<% include partials/header %>

<h1>Readers Posts</h1>

<% posts.forEach(post => { %>
  <li><strong> <%= post.author %></strong> - <%= post.title %></li>
<% }) %>

<% include partials/footer %>