<!-- include partials -->
<% include partials/header %>

<h2 class="title">Your Viewing List:</h2>

<ul class="movieList">
  <% data.Search.forEach(movie => { %>
    <li> 
      <img src="<%= movie.Poster %>">
      <span>
        <%= movie.Title %> - <%= movie.Year %>
      </span>
    </li>
  <% }) %>
</ul>

<a id="search_again" href="/movies">Search Again</a>

<% include partials/footer %>