* {
  margin: 0; 
  padding: 0;
}

body {
  color: #3d3d3d;
  background: #ebebeb;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ebebeb;
}

.home-main a {
  text-decoration: none;
  padding: 1em .8em;
  border-radius: .3em;
  background: #027263;
  color: #ebebeb;
}

.home-main p {
  margin-top: 3em;
}